table {
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.todo-selectday {
    font-size: 25px;
    color: #1c2bff;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}

.todo-button {
    flex:0.8;
    font-size: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(236, 183, 246);
    border: 2px solid rgb(207, 34, 250);
}

.todo-Content {
    font-size: 15px;
    flex:9;
    margin:auto;
    
}
/* .X {
    background-color: blue;
}
.V {
    background-color: green;
} */
.todolist-container{
    border-radius: 40px;
    border: 2px solid rgb(255, 179, 65);
    margin: 5px;
    padding: 2px;
    display: flex;
}
.todo-close {
    font-weight: bold;

    flex:0.8;
    font-size: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(167, 237, 243);
    border: 2px solid rgb(38, 204, 246);
}


.monthBtn {
    font-size: 13px;
    flex:1;
    overflow:hidden;
}
.monthBtn2 {
    font-size: 13px;
    flex:0.8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(246, 201, 201);
    border: 2px solid rgb(246, 89, 89);
}

.YearMonth {
    font-size: 25px;
}

.diaryblock {
    background-color: #fffad2;
    border-radius: 10px 10px 10px 10px;
    padding: 2rem;
    font-size: 25px;
    line-height: 2rem;
}

.diaryContent {
    margin: 1rem;
    font-size: 20px;
    
}

.saveDiary {
    margin: 0 0 2rem 0;
}