table {
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.todo-selectday {
    font-size: 25px;
    color: #1c2bff;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}

.todo-button {
    color:rgb(255, 0, 0);
    margin: 0.5rem;
    height: 25px;
    width: 25px;
}

.todo-Content {
    font-size: 15px;
}
.X {
    background-color: blue;
}
.V {
    background-color: green;
}

.todo-close {
    margin: 0.5rem;
    font-weight: bold;
    color: rgb(38, 0, 251);
    height: 25px;
    width: 25px;
}
